In [1]:
import pandas as pd

/Users/adrienawong/.pyenv/versions/3.7.0/lib/python3.7/site-packages/pandas/compat/__init__.py:85: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)
/Users/adrienawong/.pyenv/versions/3.7.0/lib/python3.7/site-packages/pandas/compat/__init__.py:85: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [2]:
date = '20200101'

In [15]:
df_textstat = pd.read_csv('Results/textstat-'+date+'.csv')

In [16]:
df_textstat

,title,text,wiki_link,redirect,sentences,centroid_vec,difficulty,grade_difficulty,gfog,smog,ari,cli,lwf,dcrs
0,AccessibleComputing,[],['Computer accessibility'],T,[],[],206.84,-15.7,0.00,0.0,0.0,-15.81,-0.5,0.00
1,Anarchism,"['rejects', 'deemed', 'unjust', 'advocates', '...","['Anti-authoritarianism', 'Political philosoph...",F,"["" '''Anarchism''' is an and that...",[-0.01081714 -0.64965425 -0.18445536 -0.554954...,-3604.54,1399.2,1429.44,0.0,1805.6,27.82,89.0,185.28
2,AfghanistanHistory,[],['History of Afghanistan'],T,[],[],206.84,-15.7,0.00,0.0,0.0,-15.81,-0.5,0.00
3,AfghanistanGeography,[],['Geography of Afghanistan'],T,[],[],206.84,-15.7,0.00,0.0,0.0,-15.81,-0.5,0.00
4,AfghanistanPeople,[],['Demographics of Afghanistan'],T,[],[],206.84,-15.7,0.00,0.0,0.0,-15.81,-0.5,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19810,The Lord of the Rings/One Ring,[],['One Ring'],T,[],[],206.84,-15.7,0.00,0.0,0.0,-15.81,-0.5,0.00
19811,Tax Freedom Day,"['tax', 'freedom', 'day', 'first', 'day', 'yea...","['nation', 'Tax Foundation', 'government', 'Go...",F,"[""'''Tax Freedom Day''' is the first day of th...",[-0.31991429 -0.69084939 -0.10424565 -0.702047...,-1044.02,425.7,435.52,0.0,559.2,20.57,76.0,61.80
19812,Tax,"['compulsory', 'financial', 'charge', 'type', ...","['Latin', 'wikt:en:taxo#Latin', 'Legal person'...",F,"["" A '''tax''' (from the '' '') is a compu...",[-0.37064541 -0.51554994 -0.30966458 -0.585628...,-1123.87,452.2,462.43,0.0,592.2,23.00,85.0,66.04
19813,Transhumanism,"['abbreviated', 'international', 'advocates', ...","['school of thought', 'human condition', 'huma...",F,"["" '''Transhumanism''' (abbreviated as ''...",[-0.03455835 -0.59455238 -0.21452039 -0.466512...,-3908.02,1515.8,1550.03,0.0,1955.9,28.80,96.0,200.87
19814,TARDIS,"['genre', 'type', 'uses', 'travels', 'time', '...","['Anthony Coburn', 'Science fiction', 'Time tr...",F,[' | episode_creator = | genre ...,[ 0.04382476 -0.44158824 -0.23849768 -0.121751...,-425.89,188.2,193.23,0.0,255.8,21.84,77.0,33.63

In [5]:
df_topics = pd.read_csv('Results/topic_modelling-'+date+'.csv')
df_topics

,Unnamed: 0,title,text,wiki_link,redirect,sentences,centroid_vec,text_tokens,text_clean,topics
0,0,AccessibleComputing,[],['Computer accessibility'],T,[],[],[],NaN,[]
1,1,Anarchism,"['rejects', 'deemed', 'unjust', 'advocates', '...","['Anti-authoritarianism', 'Political philosoph...",F,"["" '''Anarchism''' is an and that...",[-0.01081714 -0.64965425 -0.18445536 -0.554954...,"['rejects', 'deemed', 'unjust', 'advocates', '...",rejects deemed unjust advocates replacement so...,"[0.3707476258277893, 0.06129981949925423, nan,..."
2,2,AfghanistanHistory,[],['History of Afghanistan'],T,[],[],[],NaN,[]
3,3,AfghanistanGeography,[],['Geography of Afghanistan'],T,[],[],[],NaN,[]
4,4,AfghanistanPeople,[],['Demographics of Afghanistan'],T,[],[],[],NaN,[]
...,...,...,...,...,...,...,...,...,...,...
19810,19810,The Lord of the Rings/One Ring,[],['One Ring'],T,[],[],[],NaN,[]
19811,19811,Tax Freedom Day,"['tax', 'freedom', 'day', 'first', 'day', 'yea...","['nation', 'Tax Foundation', 'government', 'Go...",F,"[""'''Tax Freedom Day''' is the first day of th...",[-0.31991429 -0.69084939 -0.10424565 -0.702047...,"['tax', 'freedom', 'day', 'first', 'day', 'yea...",tax freedom day first day year whole theoretic...,"[0.8386037349700928, 0.06261330097913742, 0.01..."
19812,19812,Tax,"['compulsory', 'financial', 'charge', 'type', ...","['Latin', 'wikt:en:taxo#Latin', 'Legal person'...",F,"["" A '''tax''' (from the '' '') is a compu...",[-0.37064541 -0.51554994 -0.30966458 -0.585628...,"['compulsory', 'financial', 'charge', 'type', ...",compulsory financial charge type levy imposed ...,"[0.7012239098548889, 0.221173495054245, nan, 0..."
19813,19813,Transhumanism,"['abbreviated', 'international', 'advocates', ...","['school of thought', 'human condition', 'huma...",F,"["" '''Transhumanism''' (abbreviated as ''...",[-0.03455835 -0.59455238 -0.21452039 -0.466512...,"['abbreviated', 'international', 'advocates', ...",abbreviated international advocates transforma...,"[0.0648372620344162, 0.2831261456012726, nan, ..."
19814,19814,TARDIS,"['genre', 'type', 'uses', 'travels', 'time', '...","['Anthony Coburn', 'Science fiction', 'Time tr...",F,[' | episode_creator = | genre ...,[ 0.04382476 -0.44158824 -0.23849768 -0.121751...,"['genre', 'type', 'uses', 'travels', 'time', '...",genre type uses travels time space traits chan...,"[0.04458322748541832, 0.020267833024263382, na..."

In [6]:
df_clickstream = pd.read_csv('Results/clickstream-'+date[:-2]+'.csv')
df_clickstream = df_clickstream.groupby('title').sum()
df_clickstream

                           Unnamed: 0     date  count
title
--                                  1   404002   2084
-.-                                 2   202001     65
-30-                               33  1212006   4013
-Fa-Tal-_Gal_a_Todo_Vapor          42   808004    162
-abad                             112  1414007   1157
...                               ...      ...    ...
Zzyzx                       140366975  1414007    616
Zzyzzyxx                    120314589  1212006    172
Zzz                          40104871   404002  10017
Zzzax                       360944019  3636018   1891
Zzzz                         60157368   606003   6481

[3924821 rows x 3 columns]

In [7]:
df_complexity = pd.read_csv('../Datasets/complexity_samples.csv')
df_complexity = df_complexity.drop(columns=['link', 'assigned to'])
df_complexity

                                                title  score
0                                          Anastasius      1
1                                               Amram      1
2                                               Algol      2
3                                 Eight queens puzzle      2
4                         Demographics of New Zealand      2
..                                                ...    ...
207                              Kaman SH-2 Seasprite      1
208                                    Pasporta Servo      1
209                                           Playdia      1
210                                               RUF      1
211  List of freshwater aquarium invertebrate species      1

[212 rows x 2 columns]

In [8]:
df_graph = pd.read_csv('Results/graphical_metrics.csv').rename(columns={'Article':'title'})
df_graph

,title,Degree,EigenvectorCentrality,BetweennessCentrality,CommunityID
0,101_ReykjavÃ­k,1,9.075206e-51,0.0,46
1,10cc,1,4.930265e-02,0.0,0
2,1902,1,3.387568e-23,0.0,6
3,1938_FIFA_World_Cup,1,3.192873e-57,0.0,71
4,1960_Winter_Olympics,1,5.191851e-25,0.0,2
...,...,...,...,...,...
1461,Zanzibar,1,3.192873e-57,0.0,90
1462,Zaporizhia_International_Airport,1,3.133887e-21,0.0,5
1463,Zero-point_energy,1,7.600903e-33,0.0,14
1464,Zoom_Air,1,7.126225e-07,0.0,1
1465,Zvartnots_International_Airport,1,3.133887e-21,0.0,5

In [9]:
df_joined = df_topics.join(df_textstat.set_index('title'), on='title', lsuffix='_topics', rsuffix='_textstat')
df_joined = df_joined.join(df_clickstream, on='title', rsuffix='_clickstream')
df_joined = df_joined.join(df_complexity.set_index('title'), on='title', rsuffix ='_complexity')
df_joined = df_joined.join(df_graph.set_index('title'), on='title', rsuffix='_graph')
df_joined.columns

Index(['Unnamed: 0', 'title', 'text_topics', 'wiki_link_topics',
       'redirect_topics', 'sentences_topics', 'centroid_vec_topics',
       'text_tokens', 'text_clean', 'topics', 'text_textstat',
       'wiki_link_textstat', 'redirect_textstat', 'sentences_textstat',
       'centroid_vec_textstat', 'difficulty', 'grade_difficulty', 'gfog',
       'smog', 'ari', 'cli', 'lwf', 'dcrs', 'Unnamed: 0_clickstream', 'date',
       'count', 'score', 'Degree', 'EigenvectorCentrality',
       'BetweennessCentrality', 'CommunityID'],
      dtype='object')

In [10]:
columns = ['Snapshot', 'Article', 'Article Vector Centroid', 'Article Topics Distributions', 'TextStat Fleisch Reading Difficulty', 'Eigenvector Centrality', 'Louvain Community', 'Clicks in month', 'Article Length', 'Target Complexity']
df_new = pd.DataFrame(columns = columns)

df_new['Article'] = df_joined['title']
df_new['Article Vector Centroid'] = df_joined['centroid_vec_topics']
df_new = df_new.assign(Snapshot = date[:-2])
df_new['Article Topics Distributions'] = df_joined['topics']
df_new['TextStat Fleisch Reading Difficulty'] = df_joined['difficulty']
df_new['Eigenvector Centrality'] = df_joined['EigenvectorCentrality']
df_new['Louvain Community'] = df_joined['CommunityID']
df_new['Clicks in month'] = df_joined['count']
df_new['Article Length'] = df_joined['text_topics'].apply(lambda x: len(x))
df_new['Target Complexity'] = df_joined['score']

In [11]:
df_new.head()

,Snapshot,Article,Article Vector Centroid,Article Topics Distributions,TextStat Fleisch Reading Difficulty,Eigenvector Centrality,Louvain Community,Clicks in month,Article Length,Target Complexity
0,202001,AccessibleComputing,[],[],206.84,NaN,NaN,NaN,2,NaN
1,202001,Anarchism,[-0.01081714 -0.64965425 -0.18445536 -0.554954...,"[0.3707476258277893, 0.06129981949925423, nan,...",-3604.54,NaN,NaN,82359.0,40949,NaN
2,202001,AfghanistanHistory,[],[],206.84,NaN,NaN,NaN,2,NaN
3,202001,AfghanistanGeography,[],[],206.84,NaN,NaN,NaN,2,NaN
4,202001,AfghanistanPeople,[],[],206.84,NaN,NaN,NaN,2,NaN

In [12]:
df_new.to_csv('Results/article_summary-'+date[:-2])

In [13]:
# from pandas.io import sql
# import MySQLdb

# con = MySQLdb.connect()
# df_new.to_sql(con=con, name='article_summary-'+date[:-2], if_exists='replace', flavor='mysql')