In [40]:
# Initial... will continue tomorrow.
import getpass
import sqlalchemy
import pandas as pd
import numpy as np

In [2]:
user = getpass.getpass()

 ····

In [3]:
pwd = getpass.getpass()

 ·······························

In [5]:
DB_URIfix='mysql+pymysql://'+user+':'+pwd+'@35.197.16.55/wiki'+'?charset=utf8mb4'
engine = sqlalchemy.create_engine(DB_URIfix)

### Input

In [27]:
# input: URL
# take the last part of it:
url = 'https://en.wikipedia.org/wiki/Supervised_learning' # Example
snapshot = '202001'

In [28]:
start = url.find('wiki/')+5
end = len(url)
url_last_part = url[start:end]

### Graphical Similarity

In [31]:
SQL_graphical = """
SELECT c.*, d.ProbabilityOfDifficulty, d.AdjustedReadingTimeMinutes
FROM wiki.Clickstream c
LEFT JOIN Difficulty d ON d.Article = c.`From`
WHERE c.`To` = '"""+url_last_part+"""'
AND c.`From` NOT IN ('other-search','other-empty','Main_Page','other-external','other-internal')
AND c.Snapshot = """+snapshot+"""1
order by c.`Count` desc
limit 5;
"""

df1 = pd.read_sql(SQL_graphical, engine)
df1

,Snapshot,From,To,RelationType,Count,ProbabilityOfDifficulty,AdjustedReadingTimeMinutes
0,202001,Machine_learning,Supervised_learning,link,1584,None,None
1,202001,Reinforcement_learning,Supervised_learning,link,813,None,None
2,202001,Unsupervised_learning,Supervised_learning,link,699,None,None
3,202001,Deep_learning,Supervised_learning,link,558,None,None
4,202001,Support-vector_machine,Supervised_learning,link,486,None,None

### Semantic Similarity

In [51]:
def npify(s):
    return np.fromstring(s[1:-1],dtype=np.float, sep=' ')

def euclid_dist(c2):
    return np.linalg.norm(c1-c2)

In [61]:

SQL_semantic = """
SELECT s.Article, s.`Article Vector Centroid` 
FROM wiki.Summary s
;
"""

df2 = pd.read_sql(SQL_semantic, engine)
df2['Article Vector Centroid'] = df2['Article Vector Centroid'].apply(npify)
c1 = df2[df2['Article'] == url_last_part]['Article Vector Centroid'].values[0]
df2['EuclideanDist'] = df2['Article Vector Centroid'].apply(euclid_dist)
df2 = df2.sort_values(by='EuclideanDist')
print('Most Similar Articles')
df2.head()

Most Similar Articles

,Article,Article Vector Centroid,EuclideanDist
169,Supervised_learning,"[-0.30903003, 0.19615946, -0.57603362, 0.54511...",0.000000
393,Numerical_analysis,"[-0.52210263, 0.04066232, -0.620725, 0.4969899...",0.963736
667,Functional_decomposition,"[-0.37658958, 0.17050878, -0.65410509, 0.48433...",0.976769
511,Signal_separation,"[-0.29282449, 0.2061968, -0.47144345, 0.436862...",1.068161
779,Analysis_of_algorithms,"[-0.41265766, 0.24557803, -0.52909401, 0.46490...",1.077109

In [62]:
print('Least Similar Articles')
df2.tail()

Least Similar Articles

,Article,Article Vector Centroid,EuclideanDist
14388,European_Convention_on_Nationality,"[-0.56349981, 0.63416386, -0.59006962, 0.68110...",6.860383
14062,America's_National_Game,"[-1.68742652, -0.73801616, -0.77332183, 0.4509...",6.897553
13740,Carabiner,"[-0.404812091, 0.281924249, -0.498394903, 0.48...",7.048724
14455,International_Convention_for_the_Regulation_of...,"[-0.42342607, 0.7093731, -0.50327149, 0.885758...",7.607675
4494,List_of_decades,"[-2.95527645, -0.90258933, -1.4260796, -0.5120...",8.694925